---
const stats = [
    {
        id: '0',
        category: 'Revenue',
        title: '$20M+',
        desc: 'in annual recurring revenue for our clients',
    },
    {
        id: '1',
        category: 'Projects',
        title: '100+',
        desc: 'projects completed for Fortune 500s, startups, and SMEs',
    },
    {
        id: '2',
        category: 'Clients',
        title: '42+',
        desc: 'clients have worked with us for over 8 years',
    },
    {
        id: '3',
        category: 'Legacy',
        title: '2016',
        desc: 'founded as an independently owned studio',
    },
]
---

<section id="stats">
    <div class="mx-auto max-w-7xl px-4 lg:px-8 py-16 md:py-20 lg:py-24 bg-slate-50 border-1 border-blue-200">
        <div>
            <h2 class="text-2xl md:text-3xl lg:text-4xl font-serif font-medium tracking-tight text-center text-gray-900">
                Our record by the numbers
            </h2>
        </div>
        <dl class="mt-16 grid grid-cols-1 gap-6 overflow-hidden sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4">
            {stats.map((item) => (
                <div class="flex flex-col p-4 md:p-6 aspect-square rounded-sm bg-gray-900 border border-gray-400/10">
                    <div class="my-4 gap-y-4">
                        <dt class="order-first text-5xl sm:text-3xl md:text-3xl font-semibold tracking-tight text-white pb-4">
                            {item.title}
                        </dt>
                        <dt class="text-base lg:text-lg font-normal text-gray-200">
                            {item.desc}
                        </dt>
                    </div>
                </div>
            ))}
        </dl>
    </div>
</section>

<style>
</style>
    