---
interface Video {
    src: string;
    headline: string;
    description: string;
}

const videos: Video[] = [
    {
        src: "/video/leon-belt.mp4",
        headline: "Be world-class",
        description: "We aren't just talking about our skills and achievements, it's how we conduct ourselves too."
    },
    {
        src: "/video/awkwafina.mp4",
        headline: "No rockstars",
        description: "You won't find any 10x developers, unicorns, or rockstars here and we're proud of that. We don't tolerate toxicity or narcissistic behaviour, period."
    },
    {
        src: "/video/uncle-ben.mp4",
        headline: "Be accountable",
        description: "We don't make excuses, and we're allergic to bullshitters because talk is cheap and actions speak louder than words. We get results every time because we actually know what we're doing and have successfully done it before."
    },
    {
        src: "/video/drake-apple.mp4",
        headline: "Be supportive",
        description: "It isn't brilliant individual performances that make great teams, it's when talented individuals put their egos aside and work toward a common goal."
    }
];
---

<section id="values">
    <div class="w-full bg-slate-50 border-b border-blue-200">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-24 bg-slate-50 border-x border-blue-200">
            <h2 class="text-2xl md:text-3xl lg:text-5xl font-bold text-center text-gray-900 mb-12">Our Values</h2>
            <div class="grid grid-cols-1 gap-x-8 gap-y-12">
                {videos.map((video, index) => (
                    <div class="flex flex-col md:flex-row gap-6 justify-center">
                        <div class={`w-full md:w-1/2 rounded-lg overflow-hidden ${index % 2 === 1 ? "md:order-2" : ""}`}>
                            <video 
                                src={video.src}
                                class="w-full h-full object-cover"
                                autoplay
                                loop
                                muted
                                playsinline
                            />
                        </div>
                        <div class={`w-full md:w-1/2 flex flex-col justify-center ${index % 2 === 1 ? "md:order-1" : ""}`}>
                            <h3 class="text-3xl font-bold text-gray-900 mb-4">{video.headline}</h3>
                            <p class="text-base sm:text-lg xl:text-xl text-pretty text-gray-600">
                                {video.description}
                            </p>
                        </div>
                    </div>
                ))}
            </div>
        </div>
    </div>
</section>

<style>
</style>