---
import Layout from "../layouts/Layout.astro"
import Header from "../components/react/Header"
import Footer from "../components/react/Footer"
---

<Layout title="Saturdays.io | 404 Not found">
    <Header client:load />
    <main class="-mt-21 grid h-dvh place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
        <div class="text-center">
            <h1 class="mt-4 text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl">
            Page not found
            </h1>
            <p class="mt-6 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8">
                The page you are looking for does not exist.
            </p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
            <a
                href="/"
                class="rounded-md bg-blue-600 px-3.5 py-2.5 text-sm font-semibold no-underline text-white shadow-xs hover:bg-indigo-800 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >
                Go home
            </a>
            </div>
        </div>
    </main>
</Layout>