---
import Layout from '../layouts/Layout.astro'

import Header from '../components/react/Header.tsx'
import Ethics from '../components/ethics.astro'
import Contact from '../components/react/Contact.tsx'
import Footer from '../components/react/Footer.tsx'
---

<Layout title="Saturdays.io - About">
    <Header client:load />
    <main>
        <section id="hero">
            <div class="w-full min-h-5/6 bg-red-50 border-y border-blue-200">
                <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-24 bg-emerald-50 border-x border-blue-200">
                    <h1 class="text-3xl md:text-4xl lg:text-6xl text-pretty font-bold tracking-tight leading-tight text-center text-gray-900">We bridge the gap between design and technology</h1>
                </div>
            </div>
        </section>

        <section id="hundo">
            <div class="w-full bg-orange-50 border-b border-blue-200">
                <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-24 border-x border-blue-200">
                    <div class="mx-auto max-w-4xl">
                        <h2 class="text-2xl md:text-3xl lg:text-5xl font-bold text-center text-gray-900 mb-12">Keeping it 100</h2>
                        <p class="text-xl text-gray-600 mb-8">
                            We believe that our work and ethics define who we are. We're Human-centered Designers and Developers behind some of North America's biggest mobile apps and digital brands looking to make a net-positive impact.
                        </p>
                        <p class="text-xl text-gray-600">
                            Our approach to building software prioritizes accessibility, user-centric design, and inclusion. We research and generate ideas, then build, test, and iterate on them using real-world analytics and actionable KPIs. Our emphasis on data-driven design, diversity, user empathy, and sustainability aren't buzzwords. They're reflected in every stage of our work, and we win because of it.
                        </p>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <Ethics />

    <Contact client:load />

    <Footer client:load />

</Layout>