---
import Layout from '../layouts/Layout.astro'

import Header from '../components/react/Header'
import Hero from '../components/Hero.astro'
import Values from '../components/Values.astro'
import Contact from '../components/react/Contact'
import Footer from '../components/react/Footer'
---

<Layout title="Saturdays.io - About">

    <Header client:load />

    <main>

        <Hero
            heading="We're a digital studio that focuses on the Design, Development, and Strategy of digital products."
        />

        <section id="hundo">
            <div class="w-full bg-slate-100 border-b border-blue-200">
                <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-24 border-x border-blue-200">
                    <div class="mx-auto max-w-4xl">
                        <h2 class="text-4xl md:text-5xl lg:text-5xl font-bold text-center text-gray-900 mb-12">Keeping it 100</h2>
                        <p class="text-xl text-gray-600 mb-8">
                            We believe that our work and ethics define who we are. We're Human-centered Designers and Developers behind some of North America's biggest mobile apps and digital brands looking to make a net-positive impact.
                        </p>
                        <p class="text-xl text-gray-600">
                            Our approach to building software prioritizes accessibility, user-centric design, and inclusion. We research and generate ideas, then build, test, and iterate on them using real-world analytics and actionable KPIs. Our emphasis on data-driven design, diversity, user empathy, and sustainability aren't buzzwords. They're reflected in every stage of our work, and we win because of it.
                        </p>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <Values />

    <Contact client:load />

    <Footer client:load />

</Layout>