---
import Layout from '../layouts/Layout.astro';

import Header from '../components/landing/Header';
import Hero from '../components/landing/Hero.astro';
import HeroCode from '../components/landing/HeroCode.tsx';
import ClientList from '../components/landing/ClientList.astro';
import Stats from '../components/landing/Stats.astro';
import Contact from '../components/landing/Contact';
import Footer from '../components/landing/Footer';

const prerender = false;
---

<Layout title="Saturdays.io - Design Studio">

	<Header client:load />

	<main>
		<Hero
			heading="Saturdays is a digital studio"
			subline="We create software at the intersection of design and technology"
		/>

		<section id="info">
			<div class="mx-auto w-full bg-gray-50 border-y border-indigo-200">
				<div class="mx-auto max-w-[var(--breakpoint-2xl)] px-4 sm:px-6 lg:px-8 py-24 bg-white border-x border-indigo-200">
					<h2 class="text-2xl md:text-3xl lg:text-4xl leading-normal font-serif font-bold text-balance text-center text-gray-800">
						We provide the Product Design, Development, and Strategy behind digital products that make money.
					</h2>
				</div>
			</div>
		</section>

		<section id="visual">
			<div class="mx-auto w-full bg-indigo-800/20 border-y border-indigo-200">
				<div class="mx-auto max-w-[var(--breakpoint-2xl)] px-4 sm:px-6 lg:px-8 py-24 bg-gray-800 border-x border-indigo-200">
					<h2 class="text-2xl md:text-3xl lg:text-4xl leading-normal font-bold text-balance text-center text-gray-100">
						Show off some visual work here
					</h2>
				</div>
			</div>
		</section>

		<section id="whatwedo">
			<div class="mx-auto w-full bg-indigo-800/20 border-y border-indigo-200">
				<div class="mx-auto max-w-[var(--breakpoint-2xl)] px-4 sm:px-6 lg:px-8 py-24 bg-white border-x border-indigo-200">
					<h2 class="text-2xl md:text-3xl lg:text-4xl leading-normal font-bold text-balance text-center text-gray-800">
						Section block about what we do:
						- Design ideation
						- Prototyping
						- Usability testing
						- validation, product market fit
						- Strategy
					</h2>
				</div>
			</div>
		</section>

		<HeroCode />

		<ClientList
			logoSize={48}
			heading="We've crafted successful digital experiences for brands around the world"
		/>

		<Stats />

		<Contact client:load />
	</main>

	<Footer />
</Layout>
