---
import Layout from '../layouts/Layout.astro';
import Contact from '../components/react/Contact.tsx';
import Header from '../components/react/Header.tsx';
import HeroCode from '../components/react/HeroCode.tsx';
import Footer from '../components/react/Footer.tsx';

---
<Layout title="Saturdays.io - Design Studio">

	<Header client:load />

	<main>
		<section class="bg-white">
			<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-24">
				<h1 class="text-3xl md:text-4xl lg:text-6xl text-pretty font-bold tracking-tight leading-tight text-center text-gray-900">
					Saturdays is a design studio
				</h1>
				<p class="text-xl lg:text-3xl text-center text-gray-600 mt-4">
					We create software at the intersection of design and technology
				</p>
			</div>
		</section>

		<section id="info">
			<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-24">
				<h2 class="text-2xl md:text-3xl lg:text-5xl leading-normal font-bold text-center red-to-blue mb-8">
					We're a digital studio that focuses on the Design, Development, and Strategy of digital products.
				</h2>
			</div>
		</section>

		<HeroCode client:load />

		<Contact client:load />
	</main>

	<Footer client:load />
</Layout>
