---
import Layout from '../layouts/Layout.astro';

import Header from '../components/landing/Header';
import ThreeDMarqueeDemo from '../components/landing/animHero.tsx';
import Hero from '../components/landing/Hero.astro';
import HeroCode from '../components/landing/HeroCode.tsx';
import ClientList from '../components/landing/ClientList.astro';
import Stats from '../components/landing/Stats.astro';
import Contact from '../components/landing/Contact';
import Footer from '../components/landing/Footer';

const prerender = true;
---

<Layout title="Saturdays.io - Design Studio">

	<Header client:load />

	<ThreeDMarqueeDemo client:load />

	<main>
		<Hero
			heading="Saturdays is a digital studio"
			subline="We create software at the intersection of design and technology"
		/>

		<section id="visual">
			<div class="mx-auto w-full bg-gray-800/20 border-y border-indigo-200">
				<div class="mx-auto max-w-[var(--breakpoint-2xl)] px-4 sm:px-6 lg:px-8 py-24 bg-gray-800 border-x border-gray-200">
					<h2 class="text-2xl md:text-3xl lg:text-4xl leading-normal font-bold text-balance text-center text-white">
						We build end-to-end Product Design solutions
					</h2>
					<img
						src="/img/Color_variables.png"
						alt="Design system screenshot"
						width="2560"
						height="1440"
						class="w-full h-full mt-8 object-cover" />
				</div>
			</div>
		</section>


		<section id="info">
			<div class="mx-auto w-full bg-gray-50 border-y border-indigo-200">
				<div class="mx-auto max-w-[var(--breakpoint-2xl)] px-4 sm:px-6 lg:px-8 py-24 bg-white border-x border-indigo-200">
					<h2 class="text-2xl md:text-3xl lg:text-4xl leading-normal font-serif font-bold text-balance text-center text-gray-800">
						We provide the Product Design - block about UX/UI.<br>
						Make a bit about ideation, research, concepting, prototyping, usability testing, and validation.
					</h2>
				</div>
			</div>
		</section>


		<section id="whatwedo">
			<div class="mx-auto w-full bg-gray-300/50 border-y border-indigo-200">
				<div class="mx-auto max-w-[var(--breakpoint-2xl)] px-4 sm:px-6 lg:px-8 py-24 bg-white border-x border-indigo-200">
					<h2 class="text-2xl md:text-3xl lg:text-4xl leading-normal font-bold text-balance text-gray-800">
						Section block about<br>
						- Prototyping, functional code for usability testing<br>
						- find product market fit<br>
						- go to market strategy
					</h2>
				</div>
			</div>
		</section>


		<section id="whatwedo">
			<div class="mx-auto w-full bg-gray-300/50 border-y border-indigo-200">
				<div class="mx-auto max-w-[var(--breakpoint-2xl)] px-4 sm:px-6 lg:px-8 py-24 bg-white border-x border-indigo-200">
					<h2 class="text-2xl md:text-3xl lg:text-4xl leading-normal font-bold text-balance text-gray-800">
						Design Systems block<br>
						- design system audit<br>
						- design system creation / maintenance<br>
						- training + workshops / integration support for developers<br>
						- code support / custom components
					</h2>
				</div>
			</div>
		</section>

		<HeroCode />

		<ClientList
			logoSize={48}
		/>

		<Stats />

		<Contact client:load />
	</main>

	<Footer />
</Layout>
