---
const currentYear = new Date().getFullYear();
---

<footer class="px-4 py-8">
    <p class="text-sm text-gray-800">2016 - {currentYear} Saturdays.io All rights reserved.</p>
</footer>

<style>

</style>