---
import Layout from "./Layout.astro";
import Header from "../components/react/Header.tsx";

interface Props {
  title: string;
  email?: string;
  user?: any;
}

const { title, email, user } = Astro.props;
---

<Layout title={title}>
  <div class="min-h-full bg-black">    

    <Header client:load />

    <main class="pt-4 px-4">
      <div class="mx-auto w-full">
        <slot />
      </div>
    </main>

  </div>
</Layout> 